<div class="map-marker">
  <%= image_tag "avatardefault.png", class: 'map-marker-image' %>
  <br>
  <p>Name:</p>
  <p><%= watch_party.name %></p>
  <br>
  <p>Location:</p>
  <p><%= watch_party.location %></p>
</div>
