<h1 class="text-center">7 days - 7 films</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    <%= image_tag("movie1.jpg", size: '800x400') %>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    </div>
  </div>

</div>
