// Import page-specific CSS files here.
@import "home";

.ban {
 background-color: white;
 height: 250px;
 object-position: center;
}

.text-main {
  padding-top: 50px;
}

.text-second {
  padding-top: 20px;
  text-align: center;
}

.start {
  display: flex;
  -ms-flex-align: center;
  object-position: center;
  font-weight: bold;
}

.left-wing {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  padding-top: 20px;
}

.movie-box {
  display: flex;
  -ms-flex-align: start;
}
