// Import page-specific CSS files here.
@import "home";

.ban {
 background-color: white;
 height: 250px;
 object-position: center;
}

.text-main {
  padding-top: 50px;
}

.text-second {
  padding-top: 20px;
  text-align: center;
}

.vertical-center {
 text-align: center;
  a {
    font-size: 20px;
    font-weight: bold;
  }
}

.left-wing {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  width: 400px;
  align-items: center;
  padding-top: 20px;
}

.movie-all {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  object-position: center;
}

.movie-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.box-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    padding: 30px;
    width: 100%;
    background-color: white;
}

.both-wings {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.right-wing {
  border-radius: 20px;
  background-color: white;
  height: 600px;
  position: sticky;
  width: 50%;
}

.rounded-circle {
  height: 150px;
  width: 150px;
}
