h1 {
  text-align: center;
}

.content h2 {
  color: black;
  margin-top: 20px;
}

.page-header {
  display: flex;
  flex-direction:column;
  padding-left: 30px;
}

h2 {
  justify-content: left;
}

.banner-box {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-all {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  object-position: center;
}

#banner {
  background-color: white;
  height: 25%;
  padding-top: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 50px 150px;
  gap: 200px;
  width: 100%;
  height: 100%;
}

.left-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: white;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  color: black;
}

.attendees {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  color: black;
}

.btn-g {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 20px;
  font-size: 20px;
}



.btn-g:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-g a:hover {
  text-decoration: none;

}

#user-avatar {
    border-radius: 1000px;
    vertical-align: middle;
    height: 72px;
    width: 72px;
}

.right-elements {
  border-radius: 20px;
  background-color: white;
  height: 600px;
  position: sticky;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.card-style {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#user-avatar {
  margin: 20px;
}

.chat-box {
  margin-top: 50px;
}
