.user-profile {
  font-family: "Nunito",
    "Helvetica",
    "sans-serif";
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  width: 700px;
  margin: 20px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem
}

.btn-primary {
  color: white;
  background-color: red;
  border: 1px solid red;
  padding: 8px 24px;
  border-radius: 50px;
  font-family: "Nunito",
  "Helvetica",
  "sans-serif";
  margin-bottom: 20px;
}

.btn-primary:hover {
  color: white;
  background-color: red;
}

.cancel-my-account {
  margin-left: 10px;
  color: red;
  text-decoration: underline !important;
}

.cancel-my-account:hover {
  color: red;
}

.return-button {
  color: black;
}

.return-button:hover {
  color:red;
}
