<div class="container">
<p>Dear Customer,<br>
Thank you for watching the movie! Please spare some moments to give us your valuable feedback about the movie.</p>

<label> What are your thoughts about the movie?</label><br>
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@movie, @review ] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, collection: (1..5).to_a, label: "How would you rate the movie" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>
